<div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <a  style="background-color: brown;" class="btn btn-primary" (click)="Cart()">Add Cart</a>
        <a  style="margin-left: 10px;background-color: brown;" class="btn btn-primary" (click)="Delete()">Delete</a>     
      </div>
    </div>
  </div>